.container {

    background-color: lightblue;
    height: 200vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 50px;
 




}

.box {
    background-color: rgb(79, 126, 228);
    height: 80px;
    margin: 50px;
    width: 100px;
    padding: 50px ;
    color: black;



}

.navbar {
    
    background-color: rgb(127, 100, 176);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    top: 0;
    right: 0;
    position: fixed;
    box-sizing: border-box;
  
}